

<ion-content padding>
    <img src="assets/img/logo.png" />
    <p>Please answer the following questions {{properties.live}}</p>
    
    <ion-list>
        <ion-item-group reorder="{{!properties.live}}" (ionItemReorder)="reorderFields($event)" [ngClass]="{'edit-mode' : !properties.live}">
            <ion-item *ngFor="let field of fields; let i = index" (click)="openEditFieldModal(field)" >
                
                <ion-icon name="trash" item-left (click)="openRemoveField($event, i)" *ngIf="!properties.live"></ion-icon>
                <ion-label floating *ngIf="field.inputType === 'text' || field.inputType === 'email'">{{field.label}}</ion-label>
                
                <ion-input type="text" *ngIf="field.inputType === 'text'" [(ngModel)]="field.enteredValue"></ion-input>
                
                <ion-input type="email" *ngIf="field.inputType === 'email'" [(ngModel)]="field.enteredValue"></ion-input>
                
                
                <p *ngIf="field.inputType === 'select'">{{field.label}}</p>
                
                <ion-segment *ngIf="field.inputType === 'select'" [(ngModel)]="field.enteredValue">
                    <ion-segment-button *ngFor="let option of field.options" value="{{option}}">
                        {{option}}
                    </ion-segment-button>
                </ion-segment> 
                
                
               
            </ion-item>

        </ion-item-group>
        
        <button ion-button block (click)="openAddFieldModal()" *ngIf="!properties.live">Add Field</button>
        

        <button ion-button block (click)="saveSubmission()" *ngIf="properties.live">Submit</button>
    </ion-list>
    
    
    <ion-grid *ngIf="!properties.live">
        <ion-row>
            <ion-col>
                <button ion-button block (click)="openChangeBackground()">Change Background</button>
            </ion-col>
            <ion-col>
                <button ion-button block (click)="openChangeListModal()">Change Current List</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    
    
    <button ion-button block (click)="goLive()" *ngIf="!properties.live" class="go-live">Go Live</button>
    <button ion-button block (click)="goEditMode()" *ngIf="properties.live" class="go-edit-mode">Edit Mode</button>
</ion-content>
